@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto:wght@400;700&display=swap");

body {
  width: 720px;
  margin: auto;

  /* font-family: 'Times New Roman', Times, serif; */
  font-family: "Bungee Spice", cursive;
  /* font-family: 'Roboto', sans-serif; */

  /* background: linear-gradient(180deg, lightblue, lightgreen); */

  background-image: url("images/logo.jpg");
  background-repeat: no-repeat;
  background-size: 320px;
  background-position: top right;
  background-attachment: fixed;
  /* backdrop-filter: blur(5px); */
  /* backdrop-filter: brightness(60%); */
  /* backdrop-filter: opacity(50%); */
}

img {
  width: 320px;
  position: fixed;
  z-index: -1;
  opacity: 0.5;
  top: 35%;
  right: 35%;
}

h1,
p {
  /* color: #AA0; */
  color: black;
  font-weight: bold;
  /* 0-9 A B C D E F*/
  font-style: italic;
  font-size: 32px;
  /* font-size: 4rem; */
  /* font-size: 70%; */

  /* letter-spacing: 8px; */
  /* word-spacing: 2em; */
  /* line-height: 2; */

  text-transform: capitalize;

  text-align: right;

  text-shadow: 0.2px 0.2px 0.5px black;
}

.texto p {
  color: hsl(240, 100%, 50%);
  /* 0 - 255 */
}

.texto {
  color: peru;
  /* background-color: bisque; */
  /* border: solid 1px red; */
}

#ultimoTexto .texto {
  color: azure;
}

div {
  font-size: 70%;
}
