* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#header {
    --menuHeight: 70px;
    height: var(--menuHeight);
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgb(21, 21, 114);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#menuButton {
    display: none;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

a {
    display: block;
    padding: .5rem;
    border-radius: 4px;

    color: white;
    text-decoration: none;
}

#menu a.select {
    color: aqua;
}

#menu a:hover {
    background: rgba(0, 255, 255, 0.2);
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
}

main h1 {
    text-align: center;
    margin: 1rem;
}

main p {
    margin-top: 2rem;
    text-align: justify;
}

@media (max-width: 600px) {
    #menuButton {
        display: flex;
        flex-direction: column;
        gap: .2rem;

        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;

        color: white;
    }

    #iconMenuButton {
        border-top: 2px solid;
        width: 20px;
        transition: 300ms;
        position: relative;
    }

    #nav.active #iconMenuButton:nth-child(1) {
        transform: rotate(45deg);
        bottom:-4px;
    }

    #nav.active #iconMenuButton:nth-child(2) {
        border: none;
    }

    #nav.active #iconMenuButton:nth-child(3) {
        transform: rotate(-45deg);
        top: -4px;
    }

    #menu {
        display: block;

        position: absolute;
        top: var(--menuHeight);
        right: 0;

        width: 100%;
        height: 0;
        transition: 600ms;

        background: rgb(63, 63, 172);
        z-index: 1;

        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - var(--menuHeight));
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;

        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        border-radius: 0;

        display: grid;
        place-items: center;
    }
}