header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2.4rem;
}

.logo {
    width: 4.2rem;
    height: auto;
}

ul {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .4rem;
    padding: 3.2rem;
}

li {
    list-style: none;
    padding: .8rem;
}

.select {
    color: #00c4e7;
}

li:hover {
    cursor: pointer;
    background: #adc5c911;
    border-radius: .4rem;
}