* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background: teal;
  color: white;
}

.container {
  width: 160px;
  height: 160px;
  position: fixed;
  right: 8px;
  top: 32px;
  z-index: -1;
  opacity: 0.1;
}

.square {
  width: 80px;
  height: 80px;
  background: red;
  padding: 8px;
  color: white;
}

#squareX {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
}

#squareY {
  background: green;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}

#squareZ {
  background: blue;
  position: absolute;
  top: 60px;
  left: 60px;
  z-index: 3;
}

h3 {
  position: sticky;
  top: 0px;
  background: lightgray;
}

section p {
  margin: 24px;
}
