.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

header {
    padding: 2.4rem 0;
}

h1 {
    margin-top: 3.2rem;
    font-size: 3.6rem;
    text-align: center;
    color: white;
    text-shadow: .05rem .05rem .2rem black;
}

.search form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;

    margin-top: 2.4rem;
}

section input {
    width: 24.0rem;
    font-size: 1.6rem;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
}

section button {
    font-size: 1.6rem;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    background: rgb(80, 80, 240);
    color: white;
}

section button:hover {
    cursor: pointer;
    background: rgb(64, 64, 219);
}