.ementa {
    margin: 3.2rem 0;
}

.containerTechnologies {
    margin: 2.4rem;
}

.containerTechnologies img {
    height: 6.0rem;
    width: auto;
}

.pulsarAnimation {
    animation: pulsarAnimation 1s;
    animation-timing-function: ease-in-out;
}

.ementa section:first-child ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.ementa section:first-child ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;

    transition: 200ms;
}

.ementa section:first-child ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#iconSql {
    height: 11.0rem;
    width: auto;
}

.sqlName {
    position: relative;
    top: -2.4rem;
}

.gitName {
    position: relative;
    top: .2rem;
}

.anotherSubjects {
 opacity: 0;
}

.downTopAnimation {
    animation: downTopAnimation 1s;
    animation-fill-mode: forwards;
}

.containerAnotherSubjects {
    list-style: inside;
    margin: 1.6rem 0 4.8rem;
}

@keyframes pulsarAnimation {
    0% {
        scale: 1.0;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1.0;
    }
}

@keyframes downTopAnimation {
    0% {
        opacity: 0;
        transform: translateY(115%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}