@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  margin-top: 32px;
  text-align: center;
  font-family: "Carter One", cursive;
}

span {
  color: yellow;
  text-shadow: 1px 1px 1px black;
}

.slideImages {
  margin: 24px auto;
  width: 320px;
  height: 160px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0.2px 0.2px 2px 0.5px black;
}

.image {
  width: 320px;
  position: absolute;
  opacity: 0;
  animation-name: slideImagesAnimation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  object-fit: cover;
}

.image:nth-child(2) {
  animation-delay: 5s;
}

.image:nth-child(3) {
  animation-delay: 10s;
}

@keyframes slideImagesAnimation {
  25% {
    opacity: 1;
    transform: scale(1.1, 1.1);
  }

  50% {
    /* transform: translate(-100%); */
    opacity: 0;
  }
}
