:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

body {
    background-image: url('./Documents/background-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    color: white;
}

header {
    text-align: center;
    padding: 3.2rem;

}

h1 {
    font-size: 2.0rem;
}

main,
aside {
    max-width: 48.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

main p {
    text-align: justify;
}

.ementa {
    /* display: flex; */
    gap: 6.4rem;
}

h3 {
    margin-top: 1.6rem;
}

.ementa section:first-child ul {
    margin-top: 1.6rem;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
}

.ementa section:first-child ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;
}

.sqlParagraph {
    position: relative;
    top: -1.5rem;
}

.ementa section:nth-child(2) ul {
    list-style-position: inside;
    margin-top: .8rem;
}

aside article {
    text-align: center;
}

h2 {
    margin-top: 1.6rem;
    font-size: 2.0rem;
}

#imageGithub {
    margin-top: 1.6rem;
    width: 24.0rem;
    border-radius: 50%;
}

aside section + section {
    margin-top: 2.0rem;
}

footer {
    text-align: center;
    padding: 3.2rem 2.4rem;
}

.logoContainer {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

#logoPrefeituraJucas {
    width: 10.0rem;
    height: 100%;
}

#logoEmpreendaMais {
    width: 8.0rem;
    height: 100%;
}

#logoReprogramaJucas {
    width: 14.0rem;
    height: 100%;
}

.boxLogoCvt {
    width: 15.0rem;
    height: 3.5rem;
    border-radius: .8rem;
    overflow: hidden;
}

#logoCvt {
    width: 15.0rem;
    height: 100%;
    background: white;

    object-fit: cover;
    object-position: center;
}