@import url(style.css);

:root {    
    --brown-0: #5b1008;
    --brown-1: #941E10;
    --brown-2: #E0412F;
    --brown-3: #FF614F;
    --brown-4: #FF614F55;
    --brown-5: #FF614F22;
    --green-1: #009447;
    --green-2: #2FE085;
    --green-3: #2FE08588;    
}

main {
    padding: 16rem;
}

.form-contact {
    margin-top: 32rem;
    max-width: 680rem;
}

main h1 {
    background: var(--brown-1);
    color: white;
    padding: 8rem;
    text-align: center;
    border-radius: 8rem 8rem 0 0;
    border-top: solid 1px var(--brown-2);
    border-left: solid 1px var(--brown-2);
    border-bottom: none;
    border-right: solid 1px var(--brown-2);
}

.form-contact legend {
    display: none;
}

fieldset {
    padding: 16rem;
    
    display: flex;
    flex-direction: column;
    gap: 16rem;
    
    border-radius: 0 0 8rem 8rem;
        
    border-top: none;
    border-right: solid 1px var(--brown-2);
    border-left: solid 1px var(--brown-2);
    border-bottom: solid 1px var(--brown-2);  
    
    background: var(--brown-5);
}

.inputBox label {
    font-weight: 700;
    color: var(--brown-1);
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    margin-top: 4rem;
    padding: 8rem;

    border: solid 1.5rem var(--brown-4);
    border-radius: 4rem;

    color: var(--brown-0);

    background: white;
}

.inputBox input::,
.inputBox textarea:checked {
    border: solid 1.5rem var(--brown-3);
}

form button {
    margin-top: 16rem;
}