@import url(style.css);

:root {
    font-size: 6.25%;

    --brown-0: #5b1008;
    --brown-1: #941E10;
    --brown-2: #E0412F;
    --brown-3: #FF614F;
    --brown-4: #FF614F55;
    --green-1: #009447;
    --green-2: #2FE085;
    --green-3: #2FE08588;
}

#page-gallery h1 {
    font-size: 48rem;
}

#page-gallery h2 {
    font-size: 24rem;
    margin-top: 48rem;
    padding: 8rem;

    color: white;
    background: linear-gradient(90deg, var(--brown-1), var(--brown-2));
}

#page-gallery p {
    margin-top: 16rem;
}

#page-gallery main img {
    width: 100%;
    height: 100%;

    margin-top: 16rem;
}
