@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

:root {
    font-size: 6.25%;
    scroll-behavior: smooth;
    
    --brown-0: #5b1008;
    --brown-1: #941E10;
    --brown-2: #E0412F;
    --brown-3: #FF614F;
    --brown-4: #FF614F55;
    --brown-5: #FF614F22;
    --green-1: #009447;
    --green-2: #03ce65;    
    --green-3: #2FE085;
    --green-4: #2FE08588;
    
    --fontLogo:'Cinzel', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16rem;
}

.page {
    width: 100%;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>     Header    <<<<<<<<<<<<<<<<<<<<<<<<<< */

header {
    width: 100%;
    height: 100rem;
    padding: 16rem;

    background: linear-gradient(var(--brown-0), var(--brown-1));

    position: sticky;
    top: -1rem;

    z-index: 1;

    transition: transform 500ms;
}

.headerHidden {
    transform: translateY(-100%);
}

header img {
    width: 64rem;
    height: auto;
    border-radius: 50%;

    box-shadow: .5rem .5rem 1rem 1rem rgba(0, 0, 0, 0.5);
}

header, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    font-weight: 700;
}

#home, #gallery, #contact {
    color: var(--green-3);
}

header a {
    text-decoration: none;
    color: white;
    text-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.5) ;
    font-size: 18rem;
    padding: 8rem;
}

header a:hover {
    filter: brightness(1.1);
    background: var(--brown-4);
    padding: 8rem;
    border-radius: 4rem;
}

.imagesShowBar {
    width: 100%;
    height: 240rem;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;
}

.imageShowBar {
    position: absolute;
    
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;

    opacity: 0;

    animation: imageShowAnimation 30s;
    animation-iteration-count: infinite;
}

.imageShowBar:nth-child(1) {
    animation-delay: 0s;
}

.imageShowBar:nth-child(2) {
    animation-delay: 5s;
}

.imageShowBar:nth-child(3) {
    animation-delay: 10s;
}

.imageShowBar:nth-child(4) {
    animation-delay: 15s;
}

.imageShowBar:nth-child(5) {
    animation-delay: 20s;
}

.imageShowBar:nth-child(6) {
    animation-delay: 25s;
}

/* >>>>>>>>>>>>>>>>>    Main    <<<<<<<<<<<<<<<<< */

.container main {
    max-width: 480rem;

    margin: 0 auto;
    padding: 32rem;

    text-align: center;
}

.logo {
    font-family: var(--fontLogo);
    font-weight: 700;
    font-size: 23rem;
}

.logo span {
    color: var(--brown-1);
    text-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
}

.mainLogo {
    animation: topDownAnimation 1000ms;
}

.boxImageLogo {
    height: 240rem;
    position: relative;

    display: grid;
    place-items: center;
}

.mainImageLogo {
    width: 80%;
    position: absolute;
}

.mainImageLogoPlane {
    animation-name: cloudAnimation;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.mainSlogan {
    margin-top: -8rem;
    font-size: 32rem;
    line-height: 48rem;
}

aside {
    padding: 8rem;
}

.cards {
    max-width: 1024rem;
    margin: 0 auto;

    padding: 16rem;

    display: grid;
    /* grid-template-columns: 240rem 240rem 240rem; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    /* grid-template-columns: repeat(auto-fit, 240rem); */
    grid-template-columns: repeat(auto-fit, minmax(240rem, 1fr));
    
    grid-column-gap: 32rem;
    grid-row-gap: 48rem;
}

.card {
    border-radius: 4rem;
    box-shadow: .1rem .1rem 2rem 1rem black;

    transition: transform 300ms;

    overflow: hidden;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    height: 240rem;
    width: 100%;
    
    object-fit: cover;
    object-position: center;

    transition: brightness 300ms;

    box-shadow: .1rem .1rem 2rem 1rem black;
}

.card img:hover {
    filter: brightness(1.1);
}

.cardPart1 {
    border-radius: 8rem;
}

.cardPart2 {
padding: 0 12rem;
}

.cardPart2 h3 {
    color: var(--brown-1);
    font-size: 32rem;

    margin-top: 8rem;

    text-shadow: 1rem 1rem 2rem 1rem black;
}

.cardPart2 p:nth-child(2) {
    font-size: 24rem;
    font-weight: 700;
}

.buttonCard {
    width: 100%;
    height: 48rem;

    border-radius: 8rem;
    border: none;

    background: var(--brown-1);
    color: white;
    font-size: 24rem;
    
    margin: 16rem auto 8rem;
    
    transition: brightness 300ms;

    cursor: pointer;
}

.buttonCard:hover {
    filter: brightness(1.2);
}

/* >>>>>>>>>>>>>>>>>>>>>    Footer    <<<<<<<<<<<<<<<<<<<<<<<< */

footer {
    text-align: center;
    color: white;
    font-weight: 700;

    width: 100%;
    height: 100%;
    padding: 16rem;

    background: linear-gradient(var(--brown-1), var(--brown-0));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32rem;

    margin-top: 32rem;
}

footer .logo span {
    color: var(--green-3);
    text-shadow: 1rem 1rem 1rem black;
}

.footerLogo {
    font-size: 20rem;
    line-height: 32rem;
    margin-top: 16rem;

    text-shadow: .1rem .1rem 2rem black;
}

.footerImageLogo {
    width: 120rem;
    border-radius: 50%;
    margin-top: 16rem;
    box-shadow: .1rem .1rem 2rem black;
}

.FooterSocialMediaLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32rem;
}

.FooterSocialMediaLogos img{
    margin-top: 32rem;
    width: 40rem;
}

.footerLocal iframe {
    width: 100%;
    height: 280rem;
    
    margin-top: 16rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>   Animations   <<<<<<<<<<<<<<<<<<<<<< */

@keyframes imageShowAnimation {
    10% {
        opacity: 1;
    }
    
    20% {
        transform: scale(1.1, 1.1);
    }
    
    40% {
        /* transform: translate(-100%); */
        opacity: 0;
    }
}

@keyframes cloudAnimation {
    0% {
        transform: translateY(5rem);
    }
    
    100% {
        transform: translateY(-5rem);
    }
}

@keyframes topDownAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

/* >>>>>>>>>>>>>>>>>>>>>>   Responsive   <<<<<<<<<<<<<<<<<<<<<< */

@media (max-width: 360px) {
    header img {
        width: 60rem;
    }

    header a {
        font-size: 16rem;
    }
}

@media (max-width: 320px) {
    header img {
        width: 48rem;
    }

    header a {
        font-size: 16rem;
    }
}

@media (min-width: 480px) {

    .imagesShowBar {
        height: 360rem;
    }

    .container main {
        max-width: 720rem;
    
        margin: 0 auto;
        padding: 32rem;
    
        text-align: center;
    }

    .logo {
        font-size: 38rem;
    }
    
    .logo span {
        color: var(--brown-1);
        text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
    }
    
    .mainImageLogo {
        width: 70%;
        margin-top: 128rem;
    }
    
    .mainImageLogoPlane {
        animation-name: cloudAnimation;
        animation-duration: 2500ms;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }

    .mainSlogan {
        margin-top: 128rem;
        font-size: 48rem;
        line-height: 72rem;
    }

    .footerLogo {
        font-size: 28rem;
    }
    .footerLocal {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-size: 32rem;
    }

    .footerLocal iframe {
        width: 150%;
        height: 380rem;

    }
}
