* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.label-loading {
  position: absolute;
  font-size: 24px;
}

.circle-loading {
  height: 160px;
  width: 160px;
  border: 16px solid lightgray;
  border-top-color: blue;
  border-radius: 50%;
  animation: rotateLoading;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
