:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 2.4rem;
  max-width: 48rem;
  height: 100vh;
  margin: 0 auto;
  display: grid;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
  font-size: clamp(2.4rem, 5vw + 1rem, 4.2rem);
  margin-top: 1.2rem;
}

.imageScreens {
  display: flex;
  max-width: 32rem;
  margin: 0 auto;
}

.imageScreens img {
  width: 100%;
  height: auto;
  margin: 4.8rem auto 0;
  object-fit: cover;
  object-position: center;
  transition: 300ms;
  animation-name: cloudAnimation;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

img:hover {
  filter: brightness(1.05);
  scale: 1.05;
}

h2 {
  font-size: clamp(2rem, 2vw + 1.5rem, 2.8rem);
  margin-top: 1.6rem;
}

p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

footer {
  font-size: 1.6rem;
  font-weight: bolder;
  margin-top: 3.2rem;
  text-align: center;
  margin: 2.4rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 102.4rem;
    margin: 0 auto;
  }

  h1 {
    margin-top: 2.4rem;
  }

  main {
    margin-block: 3.2rem;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12rem;
  }

  main section {
    flex: 1;
  }

  .imageScreens {
    width: 160rem;
  }

  .imageScreens img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  p {
    font-size: 2rem;
  }

  footer {
    font-size: 2.4rem;
    margin-top: 7.2rem;
  }
}

@keyframes cloudAnimation {
  to {
    transform: translateY(-2rem);
  }
}
