* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: grid;

    grid-template-areas: 
        "HEADER HEADER"
        "MAIN ASIDE"
        "FOOTER FOOTER";

        grid-template-columns: 1fr 75%;
        grid-template-rows: 20% 1fr 10%;
}

header {
    grid-area: HEADER;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: solid 1px;
    background: linear-gradient(green, lightgreen);
    color:white;
    font: bolder;
    text-shadow: .01rem .01rem .1rem black;
    
    padding: 2em;
}

#title {
    font-size: 3em;
    text-shadow: .5px .5px .5px black;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px;
    width: 24rem;

    font-size: 24px;
    text-align: center;

}

li {
    padding: .4rem;
    flex: 1;
    text-shadow: .5px .5px .5px black;
}

li:hover {
    background-color: lightgreen;
    cursor: pointer;
}

main {
    grid-area: MAIN;

    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Part 1 */
article {
    color: green;
    font: bolder;
    padding: .5rem;

    box-shadow: .1px .1px 2px .5px black;
    border-radius: 8px;
}

p {
    margin: .5rem;
}


aside {
    grid-area: ASIDE;
}

.gallery {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; */

    display: grid;
    grid-template-areas: 
        "A B C"
        "A D E";
    gap: 8px;

    padding-top: 42px;
}

.gallery :nth-child(1) {
    grid-area: A;
}
.gallery :nth-child(2) {
    grid-area: B;
}
.gallery :nth-child(3) {
    grid-area: C;
}
.gallery :nth-child(4) {
    grid-area: D;
}
.gallery :nth-child(5) {
    grid-area: E;
}

img {
    width: 320px;
    transition: 200ms;
}

img:hover {
    scale: 1.02;
    filter: brightness(1.1);
}

#firstImg {
    width: 242px;
}

footer {
    grid-area: FOOTER;
    font-size: .7rem;
    border: solid 1px;
    background: linear-gradient(lightgreen, green);
    color:white;
    font: bolder;
    padding: .5em;
    text-shadow: .5px .5px .5px black;
    
    display: flex;
    align-items: center;
    justify-content: center;
}