* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    display: grid;

    grid-template-areas: 
        "HEADER HEADER"
        "MAIN ASIDE"
        "FOOTER FOOTER";

        grid-template-columns: 1fr 75%;
        grid-template-rows: 20% 1fr 10%;

    align-items: center;
    justify-content: center;
}

header {
    grid-area: HEADER;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border: solid 1px;
    background: linear-gradient(green, lightgreen);
    color:white;
    font: bolder;
    text-shadow: .01rem .01rem .1rem black;
    
    padding: 2em;
}

#titulo {
    font-size: 2.5em;
}

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px;
    width: 15rem;
}

li {
    padding: .4rem;
    flex: 1;
}

li:hover {
    background-color: lightgreen;
}

main {
    grid-area: MAIN;

    padding: 16px;
}

article {
    display: flex;
    gap: .5rem;
    margin: .5rem;
}

/* Part 1 */
article section:nth-child(1) {
    color: green;
    flex-grow: 1;
    flex-shrink: 1;
    font: bolder;
    padding: .5rem;
}

/* Part 2 */
article section:nth-child(2) {
    color: green;
    flex-grow: 4;
    font: bolder;
    padding: .5rem;
}

p {
    margin: .5rem;

}


aside {
    grid-area: ASIDE;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */

    gap: 8px;
}

img {
    width: 300px;
}

footer {

    grid-area: FOOTER;
    font-size: .7rem;
    border: solid 1px;
    background: linear-gradient(green, lightgreen);
    color:white;
    font: bolder;
    padding: .5em;
    text-shadow: .01rem .01rem .1rem black;
    
    display: flex;
    align-items: baseline;
    justify-content: center;
    align-items: center;
}