@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,700&display=swap');

:root {
    --blue-color: #2C87BF;
    --green-color: #3FBF83;
    --yellow-color: #F2C438;
    --orange-color: #F29B30;
    --dark-color: #0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

main {
    background: linear-gradient(225deg, var(--yellow-color), var(--orange-color));
    
    box-shadow: 1px 1px 4px 0.2px black;
    
    height: 420px;
    width: 720px;
    margin: 120px auto 0;
    padding: 48px;
    border-radius: 32px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

main :nth-child(2) {
    width: 360px;
}

img {
    width: 240px;
    padding: 24px;
    border-radius: 32px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: .1px .1px 2px black;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
}

.slogan {
    /* font-family: 'Kanit', sans-serif; */
    font-weight: 700;
    margin-bottom: 24px;
}

span {
    color: #2C87BF;
    text-shadow: 1px 1px 1px black;
}