:root {
    font-size: 6.25%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16rem;
}

.page {
    width: 100VW;
}

header {
    width: 100%;
    height: 80rem;
    padding: 16rem;

    background: brown;
}

header .logo {

}

header, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    gap: 4rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 1rem 1rem 2rem black ;
    font-size: 16rem;
    padding: 8rem;
}

a:hover {
    filter: brightness(1.1);
    background: rgba(128, 124, 0, 0.1);
    padding: 8rem;
    border-radius: 4rem;
}

.imagesShowBar {
    width: 95%;
    height: 200rem;

    margin: 32rem auto;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    overflow: hidden;

    border-radius: 24rem;

    box-shadow: 1rem 1rem 2rem black;
}

.imageShowBar {
    position: absolute;
    
    width: 100%;
    height: auto;
    object-fit: cover;
    
    border-radius: 24rem;

    opacity: 0;

    animation: imageShowAnimation 30s;
    animation-iteration-count: infinite;
}


.imageShowBar:nth-child(1) {
    animation-delay: 0s;
}

.imageShowBar:nth-child(2) {
    animation-delay: 5s;
}

.imageShowBar:nth-child(3) {
    animation-delay: 10s;
}

.imageShowBar:nth-child(4) {
    animation-delay: 15s;
}

.imageShowBar:nth-child(5) {
    animation-delay: 20s;
}

.imageShowBar:nth-child(6) {
    animation-delay: 25s;
}

.container {
    
}

main article {
    max-width: 1200rem;

    margin: 48rem auto;
    padding: 32rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72rem;
    
    /* text-shadow: 1rem 1rem 1rem black ; */
    font-size: 32rem;

    background: rgba(0, 0, 0, 0.2);
}

.card {
    height: auto;
    width: 200px;

    padding: 8px;
    box-shadow: .1px .1px 2px 1px black;
    border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 32rem;
    margin: 16rem;
}

.form-contact section {
    font-size: 24rem;
}

fieldset {
    padding: 32rem;
}

@keyframes imageShowAnimation {

    25% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    
    50% {
        /* transform: translate(-100%); */
        opacity: 0;
    }
}