.weatherCondition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9.2rem;
    height: 9.2rem;
    background: rgba(128, 128, 128, 0.3);
    border-radius: 50%;
}

.weatherCondition p {
    font-weight: 600;
}

.weatherCondition h4 {
    font-size: 1.6rem;
    font-weight: 400;
}