* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./images/stars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solarSystem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun {
  position: absolute;
  animation: orbit 36.5s linear infinite;
}

.sun img {
  width: 160px;
}

.lineOrbit {
  border-color: transparent transparent transparent white;
  border-style: solid;
  border-width: 2px 0px 0px 1px;
  border-radius: 100%;
  border: 1px solid white;
}

.earth {
  position: absolute;
  width: 360px;
  height: 360px;
  animation: orbit 36.5s linear infinite;
}

.earth img {
  width: 56px;
  transform: translate(28px, 24px);
}

.moon {
  width: 140px;
  height: 140px;
  animation: orbit 22.7s linear infinite;
  transform: translateX(32px);
  position: absolute;
  top: -16px;
  left: -16px;
}

.moon img {
  width: 32px;
  transform: translate(4px, 8px);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
