* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 24px;
}

h1 {
  position: sticky;
  top: 32px;
}

section p {
  padding: 32px;
  position: sticky;
  text-align: right;
}

h2 {
  position: sticky;
  top: 48px;
}

img {
  display: inline;
  width: 480px;
}

main {
  height: 100vh;
  border: solid 1px black;
  padding: 32px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

div {
  height: 140px;
  width: 140px;
  padding: 8px;

  border: solid 1px black;

  color: white;
  font-size: 64px;
  font-weight: 500;
}

.square1 {
  background: red;
  /* display: inline-block; */
}

.square2 {
  background: green;
  /* padding: 20px; */
}

.square3 {
  background: blue;
}
