:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  color: white;

  background: url('./images/weather-rain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: brightness(30%);
  -webkit-backdrop-filter: brightness(30%);
}

body, input, button {
  font-size: 1.6rem;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}