:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

body {
    background-image: url('../images/background-1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(40%);
    color: white;
}

header {
    text-align: center;
    padding: 3.2rem;

}

h1 {
    font-size: 3.2rem;
    text-align: center;
    color: #DAC748;

    font-family: 'Black Ops One', cursive;
}

main,
aside {
    max-width: 48.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

main p {
    text-align: justify;
}

.ementa {
    margin: 3.2rem 0;
}

.containerTechnologies {
    margin: 2.4rem;
}

.containerTechnologies img {
    height: 6.0rem;
    width: auto;
}

.ementa section:first-child ul {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.ementa section:first-child ul li {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .8rem;

    transition: 200ms;
}

.ementa section:first-child ul li:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.sqlName {
    position: relative;
    top: -1.5rem;
}

#iconSql {
    height: 9.0rem;
    width: auto;
}

.gitName {
    position: relative;
    top: .2rem;
}

.containerAnotherSubjects {
    list-style: inside;
    margin: 1.6rem 0 4.8rem;
}

h2 {
    font-size: 2.0rem;
}

.projectsContainer {
    margin-top: 1.6rem;
    width: 100%;

    display: flex;
    gap: 1.6rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.projectsContainer::-webkit-scrollbar {
    display: none;
    /* height: 5px; */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

/* .container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} */

.projectBox {
    border: .1rem solid white;
    object-fit: cover;
    scroll-snap-align: start;
}

.project {
    width: 34.0rem;
}

.project a img {
    object-fit: cover;
    width: 100%;
}

.projectDescription {
    padding: .8rem;
}

.projectDescription h4 {
    margin: .4rem 0;
}

.projectDescription p {
    text-align: justify;
    font-size: 1.6rem;
}

.instructorPerfil {
    text-align: center;
    margin-top: 5.6rem;
}

#imageGithub {
    width: 24.0rem;
    border-radius: 50%;
    margin: 3.2rem auto;
}

h3 {
    margin-top: 1.6rem;
    padding: .8rem;
}

aside section + section {
    margin-top: 2.0rem;
}

footer {
    margin-top: 2.4rem;
    text-align: center;
    padding: 3.2rem 2.4rem;
}

.logoContainer {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

.socialMediasContainer {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

#logoPrefeituraJucas {
    width: 10.0rem;
    height: 100%;
}

#logoEmpreendaMais {
    width: 8.0rem;
    height: 100%;
}

#logoReprogramaJucas {
    width: 14.0rem;
    height: 100%;
}

.boxLogoCvt {
    width: 15.0rem;
    height: 4.2rem;
    border-radius: .8rem;
    overflow: hidden;
}

#logoCvt {
    width: 17.0rem;
    height: 100%;
    /* background: white; */

    object-fit: cover;
    object-position: center;
}