@import url(ementa.css);
@import url(projects.css);

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
}

body {
    /* background-image: url('../images/background-1.jpg'); */
    /* background-attachment: fixed; */
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* backdrop-filter: brightness(40%); */

    height: 100%;
    color: white;

    background-color: #000219;
}

.backgroundImage {
    position: fixed;
    z-index: -1;
    filter: brightness(40%);

    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
}

header,
main,
aside {
    max-width: 48.0rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

header {
    margin-top: 4.2rem;
    text-align: center;
    line-height: .4rem;
}

h1 {
    font-size: 2.6rem;
    text-align: center;
    color: #DAC748;

    font-family: 'Black Ops One', cursive;
}

#logoReprogramaJucasHeader {
    width: 100%;
}

main p {
    margin-top: 4.8rem;
    text-align: justify;
}

h2 {
    font-size: 2.0rem;
}

.instructorPerfil {
    text-align: center;
    margin-top: 5.6rem;
}

#imageGithub {
    width: 24.0rem;
    border-radius: 50%;
    margin: 3.2rem auto;
}

h3 {
    margin-top: 1.6rem;
    padding: .8rem;
}

aside section + section {
    margin-top: 2.0rem;
}

.socialMediasContainer {
    margin-top: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

footer {
    margin-top: 2.4rem;
    text-align: center;
    padding: 3.2rem 2.4rem;
}

.logoContainer {
    margin-top: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
}

#logoPrefeituraJucas {
    width: 16.0rem;
    height: 100%;
}

#logoEmpreendaMais {
    width: 9.6rem;
    height: 100%;

    position: relative;
    inset: -0.90rem 1.5rem 0;
}

.boxLogoCvt {
    width: 24.0rem;
    border-radius: .8rem;
    overflow: hidden;

    position: relative;
    inset: -0.4rem 0 0 0;
}

#logoCvt {
    width: 24.0rem;
    height: 100%;

    object-fit: cover;
    object-position: center;
}