.projects h2 {
    font-size: 2.0rem;
}

.projectsContainer {
    margin-top: 1.6rem;
    width: 100%;

    display: flex;
    gap: 1.6rem;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.projectsContainer::-webkit-scrollbar {
    display: none;
    /* height: 5px; */
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
}

/* .container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} */

.projectBox {
    border: .1rem solid white;
    object-fit: cover;
    scroll-snap-align: start;
}

.project {
    width: 34.0rem;
}

.project a img {
    object-fit: cover;
    width: 100%;
}

.projectDescription {
    padding: .4rem .8rem;
}

.projectDescription h4 {
    margin: 0 0 .4rem;
}

.projectDescription p {
    text-align: justify;
    font-size: 1.6rem;
}