:root {
  /* 100 / 1.6 */
  font-size: 62.5%;
}

main {
  max-width: 42rem;
  margin: auto;
  padding: 2.4rem;
}

h1 {
  /* font-size: 2em; */
  font-size: 3.2rem;
}

.boxImage {
  max-width: 42rem;
  overflow: hidden;
}

.boxImage img {
  width: 100%;
  height: auto;
  aspect-ratio: 3/1;
  object-fit: cover;
  object-position: center;
}

p {
  font-size: 1.6rem;
}

div {
  font-size: 2em;
  /* font-size: 1.6rem; */
}

@media (min-width: 420px) {
  main {
    background: teal;
  }

  .boxImage img {
    aspect-ratio: 1/1;
  }
}

@media (min-width: 720px) {
  main {
    background: sienna;
  }
}

@media (min-width: 1024px) {
  main {
    background: steelblue;
  }
}

@media (min-width: 1500px) {
  main {
    background: peru;
  }
}
