body {
  width: 480px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  animation: slideTopDown 2s;
  animation-fill-mode: forwards;
}

p {
  animation: fadeIn 2s;
  animation-fill-mode: forwards;
}

.square {
  width: 120px;
  height: 120px;
  background: purple;
  transition-property: background-color, transform, border-radius;
  transition-duration: 3s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out;
  transition: background-color 2s 1s ease-in, transform 2s 1s ease-out,
    border-radius 3s 1s;
}

.square:hover {
  background-color: teal;
  transform: scale(1.5);
  border-radius: 100%;
}

input[type="text"] {
  border: 0;
  background: #eee;
  border-radius: 4px;
  margin-top: 24px;
  padding: 8px;
}

input:focus {
  outline: 2px solid lightgray;
}

.spinner {
  margin-top: 24px;
  width: 48px;
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideTopDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
