:root {
  font-size: 62.5%;
  background: #242424;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-size: 1.6rem;
  font-family: sans-serif;
}
