:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.6rem;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
  background: #0d0d0d;
  box-shadow: 1px 1px 1px 1px #0004;
}

h1 {
  font-size: 1.6rem;
}

.headerLogo {
  width: 2.8rem;
}

main {
  height: 100%;
  width: 100%;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.8) blur(4px);
}

section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h2 > span {
  display: block;
  color: #77cff2;
}

button {
  padding: 1.2rem 3.2rem;
  border-radius: 0.8rem;
  font-weight: 700;
  border: none;
  background: #77cff2;
}

button:hover {
  background: #66bcf2;
  transition: 200ms;
  cursor: pointer;
}

.computer img {
  width: 16rem;
}

footer {
  padding: 2.4rem;
  background: #0d0d0d;
  text-align: center;
  box-shadow: 0px 0px 2px 2px #0004;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }

  .headerLogo {
    width: 4.2rem;
  }

  main {
    flex-direction: row;
    padding: 2.4rem;
  }

  section {
    align-items: start;
    text-align: left;
    width: 64rem;
  }

  section:nth-child(3) {
    align-items: center;
  }

  h2 {
    font-size: 3.2rem;
  }

  .computer {
    width: 32rem;
  }

  .computer img {
    width: 100%;
  }
}
