@font-face {
  font-family: digital;
  src: url(fonts/ds_digital/DS-DIGI.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
}

.airControl {
  height: 500px;
  width: 240px;
  background: #595959;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #0004;
}

.display {
  height: 160px;
  width: 100%;
  background: #3a3e3f;
  padding: 24px;
  border-radius: 8px;
  box-shadow: none;
  font-size: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #91afe1;
  font-family: digital;
  text-align: right;
}

.boxButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  height: 65%;

  & button {
    background: transparent;
    padding: 8px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }

    & img {
      width: 32px;
      height: 32px;
    }
  }

  & .power {
    background: #f27b13;
  }
}
