body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1:hover {
  color: red;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

h2:hover {
  color: blue;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.square {
  width: 160px;
  height: 160px;
  background: grey;
  padding: 16px;

  font-size: 32px;
  color: white;

  transition: background-color 3000ms, width 2000ms, height 2000ms 1s,
    transform 2s;

  /* Transition Deley: Adicionar mais um parâmetro */
}

.square:hover {
  background-color: red;
  /* font-size: 64px; */
  /* font-weight: bold; */

  width: 300px;
  height: 330px;

  /* transform: scale(1.1); */
  transform: rotateY(720deg);
}
