section {
    margin-top: 2.4rem;
}

input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

textarea {
    resize: none;
}

label {
    line-height: 2.4rem;
    margin: 0 .8rem 0 0;
}

button {
    margin-top: 2.4rem;
    cursor: pointer;
}

.error {
    font-size: 1.2rem;
    color: rgb(255, 136, 0);
    position: absolute;
    line-height: 2.0rem;
}