@charset "utf-8";

/* @import "../class-03-grid-layout/study/style.css"; */

@font-face {
    font-family: myFont1;
    src: url("fonts/simpsons.ttf");
}

@font-face {
    font-family: myFont2;
    src: url("fonts/zrnic/zrnic\ rg.ttf");
}

article {
    display: flex;
    gap: 64px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
}

pre {
    font-size: 24px;
}

div#circle {
    height: 120px;
    width: 120px;
    background: red;

    padding: 8px;

    color: white;
    font-size: 32px;
}

#simpsons {
    font-family: myFont1; 
    font-size: 64px;
}

#playStation {
    font-family: myFont2;
    font-size: 48px;
}