* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-template-rows: 1fr 70% 1fr;
  background: #252525;
  color: white;
}

header {
  border: 1px solid white;
  grid-column: 1/3;
}

h1 {
  font-size: 32px;
  padding: 12px;
}

main {
  grid-column: 1/2;
  background: peru;
  padding: 12px;
  display: grid;
  place-content: center;
}

.recommendations {
  grid-column: 2/3;
  padding: 12px;

  & article {
    display: grid;
    gap: 16px;
  }

  & section {
    height: 180px;
    width: 100%;
    border: 1px solid white;
  }
}

.comments {
  grid-column: 1/2;
  padding: 12px;

  & p {
    margin-top: 12px;
  }
}

@media (max-width: 768px) {
  body {
    grid-template-rows: 1fr 60% 1fr 1fr;
  }

  main {
    grid-column: 1/3;
  }

  .recommendations {
    grid-column: 1/3;
    grid-row: 3/4;

    & section {
      height: 120px;
    }
  }

  .comments {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
