.blockWeatherForecast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blockWeatherForecast h3 {
    text-transform: capitalize;
}

.blockIconDegree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockWeatherForecast img {
    padding: 0 0 .8rem;
    width: 4.2rem;
}

.forecastDegreeMaxMin {
    display: flex;
    flex-direction: column;
    border-left: 1px solid gray;
    padding-left: .4rem;
}

.forecastDegreeMaxMin span:nth-child(2) {
    color: gray;
}