@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,700&display=swap");

:root {
  --blue-color: #2c87bf;
  --green-color: #3fbf83;
  --yellow-color: #f2c438;
  --orange-color: #f29b30;
  --dark-color: #0d0d0d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(320deg, var(--yellow-color), var(--orange-color));
  height: 420px;
  width: 720px;
  margin: auto;
  margin-top: 100px;
  border-radius: 32px;
  box-shadow: 1px 1px 2px 0.5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.boxImage img {
  width: 240px;
  background: rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 32px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.boxSlogan h1 {
  font-family: "Kanit", sans-serif;
  font-size: 40px;
  line-height: 32px;
}

.boxSlogan span {
  color: var(--blue-color);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.boxSlogan p {
  font-family: "Kanit", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.boxContact {
  margin-top: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 24px;
  font-size: 20px;
  font-weight: 500;
}
