@import url('./panel.css');
@import url('./config.css');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

.container {
    height: 100%;
    width: 100%;
    padding: 1.6rem;

    position: absolute;
}

.bingoContainer {
    display: grid;
    gap: 1.8rem;
    grid-template-columns: 1fr 32.0rem;
    background: green;
}

.numbersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;

    background: #eee;

    padding: 1.6rem;
    border-radius: .8rem;
}

.number {
    height: 6.4rem;
    width: 6.4rem;

    border: .195rem solid #252525;
    border-radius: 50%;

    display: grid;
    place-items: center;

    cursor: pointer;

    font-size: 3.2rem;
    font-weight: 500;
    color: #252525;
    background: white;
}

.select {
    color: white;
    background: #252525;
}

@media (max-width: 480px) {
    .container {
        padding: 1.2rem;
    }

    .bingoContainer {
        display: flex;
        flex-direction: column;
        gap: 1.0rem;
    }

    .numbersContainer {
        gap: .6rem;
        padding: 1.8rem 1.0rem;
    }

    .number {
        height: 4.0rem;
        width: 4.0rem;

        border: .195rem solid #252525;

        font-size: 2.0rem;
        font-weight: 500;
        color: #252525;
        background: white;
    }

    .select {
        color: white;
        background: #252525;
    }
}