h1 {
    text-align: center;
    margin-top: 2.4rem;
}

form {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

main {
    padding: 3.2rem 2.4rem 1.6rem;
}

.blockCurrentTime {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    background: rgba(128, 128, 128, 0.5);
    padding: 1.6rem;
    border-radius: 1.6rem;
}

.blockDegree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.degreeCurrent {
    font-size: 6.4rem;
    padding: .8rem;
}

.degreeCurrent + p {
    display: flex;
    flex-direction: column;
    border-left: 2px solid gray;

    padding: .8rem;
}

.degreeCurrent + p span:nth-child(2) {
    color: gray;
}

.containerWeatherCondition {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.weatherCondition {
    margin-top: 2.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 9.2rem;
    height: 9.2rem;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 50%;
}

.weatherCondition p {
    font-weight: 600;
}

.weatherCondition h4 {
    font-size: 1.6rem;
    font-weight: 400;
}

.containerWeatherForecast {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blockWeatherForecast {
    margin-top: 2.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.forecastDegreeMaxMin {
    display: flex;
    flex-direction: column;    
}

.forecastDegreeMaxMin span:nth-child(2) {
    color: gray;
}

footer {
    text-align: center;
    font-weight: 400;
    background: rgba(128, 128, 128, 0.1);
    padding: 1.6rem;
}