h1 {
    text-align: center;
    padding-top: 2.4rem;
    font-size: 4.0rem;
}

form {
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 3.2rem;
}

form input {
    border: none;
    border-radius: .4rem;
    font-size: 2.0rem;
    padding: .8rem 1.2rem;
    background: rgba(128, 128, 128, 0.3);
    color: white;
    width: 100%;
}

.searchButton {
    color: gray;
    font-size: 2.4rem;
    position: relative;
    left: -3.2rem;
}

form button {
    border: none;
    border-radius: .4rem;
    color: white;
    background: #106cc4;
    padding: .8rem 1.2rem;
    font-size: 2.0rem;
}

form button:hover {
    cursor: pointer;
    background: rgb(47, 47, 152);
}

main {
    padding: 1.6rem 3.2rem;
}

.spinner {
    animation: spinnerRotate 1s linear;
    font-size: 4.2rem;
    display: block;
    margin: 50% auto;
}

.blockCurrentTime {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    background: rgba(128, 128, 128, 0.3);
    padding: .8rem;
    border-radius: 1.6rem;
}

.blockDegree {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconThermometer {
    font-size: 4.2rem;
}

.degreeCurrent {
    font-size: 6.4rem;
    padding: 0 .8rem;
}

.degreeCurrent + p {
    font-size: 1.8rem;
}

.degreeCurrent + p {
    display: flex;
    flex-direction: column;
    border-left: 2px solid gray;

    padding: .2rem .8rem;
}

.degreeCurrent + p span:nth-child(2) {
    color: gray;
}

.blockSituation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    padding: 0;
}

.iconCurrentWeather {
    width: 4.8rem;
    height: auto;
}

.containerWeatherCondition {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 1.6rem 0;
}

.containerWeatherForecast ol {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    list-style: none;
}

footer p {
    text-align: center;
    padding: 1.6rem 0;
}

@keyframes spinnerRotate {
    to {
        transform: rotate(360deg);
    }
}