@font-face {
  font-family: myFontPokemon;
  src: url("./pokemon/Pokemon\ Solid.ttf");
}

@font-face {
  font-family: myFontPlayStation;
  src: url("./zrnic/zrnic\ rg.otf");
}

body {
  width: 720px;
  margin: auto;
  font-size: 20px;

  /* font-family: 'Times New Roman', Times, serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* background: lightgray; */
  /* background: linear-gradient(180deg, lightblue, lightgreen); */
  background-image: url("../images/image-background.jpg");
  /* background-image: url("../images/logo-rj.png"); */
  /* background-size: 120px; */
  background-repeat: no-repeat;
  /* background-position: top right; */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* backdrop-filter: blur(5px) brightness(60%); */
}

h1 {
  color: orange;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  /* font-size: 2em; */
  font-family: "Press Start 2P", cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* text-decoration: underline black; */
  text-transform: uppercase;
}

h2 {
  color: #e5db08;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  word-spacing: 4px;
  line-height: 24px;
}

.geometricShapes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 24px;
}

.square {
  height: 120px;
  width: 120px;
  background: #e5db08;
  box-shadow: -4px 0px 2px rgba(0, 0, 0, 0.5), 4px 0px 2px rgba(0, 0, 0, 0.5);
}

.circle {
  height: 120px;
  width: 120px;
  background: orange;
  border-radius: 100%;
}

.triangle {
  width: 0;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  border-bottom: 105px solid orange;
}

#logoPokemon {
  font-family: myFontPokemon;
  font-size: 32px;
  color: orange;
}

#logoPlayStation {
  font-family: myFontPlayStation;
  font-size: 32px;
}
