:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    height: 100vh;

    font-size: 1.6rem;
    color: white;

    background-image: url('./images/background-img2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: brightness(50%);
}

.container {
    padding: 1.6rem;
}

.container-calculator {
    width: 32.0rem;
    margin: 7.2rem auto 3.2rem;
    padding: 3.2rem 1.6rem;

    border-radius: .8rem;

    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.8rem;
    text-align: center;
}

main section {
    margin-top: 2.4rem;
}

label {
    font-size: 2.0rem;
    line-height: 3.2rem;
}

input {
    width: 100%;
    padding: 1.0rem;
    font-size: 2.0rem;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

main button {
    margin-top: 3.2rem;
    width: 100%;
    padding: 1.2rem;

    font-size: 1.6rem;
    font-weight: 600;

    background: yellow;

    border: none;
    border-radius: .8rem;

    cursor: pointer;
}

aside {
    text-align: center;
}

aside h2 {
    margin-top: 3.2rem;
    font-size: 2.4rem;
}

aside p {
    width: 19.0rem;
    margin: 1.6rem auto;

    font-size: 2.4rem;
}

.container-modal {
    position: absolute;
    inset: 0;

    display: grid;
    place-content: center;

    background: rgb(0, 0, 0, 0.7);

    display: none;
}

.modal {
    position: relative;

    height: 14.0rem;
    width: 32.0rem;
    margin: auto;
    padding: 3.2rem;

    border-radius: .8rem;
    box-shadow: 0rem .2rem .4rem rgba(0, 0, 0, 0.1);

    color: black;
    font-size: 3.2rem;
    text-align: center;
    background: #fff;

    display: grid;
    place-content: center;
}

.close-button {
    position: absolute;
    top: 1.2rem;
    right: 1.3rem;

    font-size: 1.8rem;
    font-weight: 500;

    background: none;
    border: none;

    cursor: pointer;
    transition: 2ms;
}

.close-button:hover {
    transform: scale(1.1);
}