:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

body {
  background: url("./images/new-year-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  color: white;
}

header h1,
header span {
  font-size: 4.8rem;
  text-align: center;
}

.container {
  margin-top: -28rem;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 0.8rem;

  padding: 5.6rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.box {
  text-align: center;
  display: flex;
  flex-direction: column;

  width: 12rem;
}

.boxDays {
  width: 14rem;
}

.box div {
  font-size: 4.8rem;
  background: #2b0e2d;
  border-radius: 0.8rem;

  display: grid;
  place-items: center;

  padding: 2.4rem;
}

.box span {
  font-size: 2.4rem;
  margin-top: 0.8rem;
}

@media (max-width: 42rem) {
  header h1,
  header span {
    font-size: 3.2rem;
  }

  .container {
    padding: 2.4rem;
    gap: 1.2rem;
  }

  .box {
    width: 6.4rem;
  }

  .boxDays {
    width: 8rem;
  }

  .box div {
    font-size: 2.4rem;
    padding: 1.2rem;
  }

  .box span {
    font-size: 1.4rem;
    margin-top: 0.8rem;
  }
}
