body {
  text-align: center;
  color: white;
  background: #111133;
}

article {
  width: 720px;
  margin: 0 auto;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

p,
footer {
  font-size: 32px;
}
