h1 {
    text-align: center;
}

form {
    max-width: 32.0rem;
    margin: 0 auto;
}

main section {
    margin-top: 1.6rem;
}

label {
    display: block;
}

section input {
    width: 100%;
    padding: .4rem;
    color: black;
} 

section textarea {
    color: black;
    width: 100%;
    padding: .4rem;
    resize: none;
}

form button {
    width: 100%;
    padding: .4rem;
    margin-top: 1.6rem;
    border-radius: .4rem;
    border: none;
    background: #00c4e7;
    font-weight: 600;
}

form button:hover {
    cursor: pointer;
    background: #07b5d3;
}