@import url(style.css);

:root {
    --brown-0: #5b1008;
    --brown-1: #941E10;
    --brown-2: #E0412F;
    --brown-3: #FF614F;
    --brown-4: #FF614F55;
    --brown-5: #FF614F22;
    --green-1: #009447;
    --green-2: #03ce65;
    --green-3: #2FE085;
    --green-4: #2FE08588;
}

main {
    padding: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 102.4rem;

    margin: 0 auto;
}

.form-contact {
    margin-top: .8rem;
    display: grid;
    gap: 4.8rem;

    animation: topDownAnimation 1000ms;
}

main h1 {
    background: var(--brown-1);
    color: white;
    padding: 1.6rem;
    text-align: center;
    border-radius: .8rem .8rem 0 0;
    border-top: solid 1px var(--brown-2);
    border-left: solid 1px var(--brown-2);
    border-bottom: none;
    border-right: solid 1px var(--brown-2);
}

.form-contact legend {
    display: none;
}

fieldset {
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    border-radius: 0 0 .8rem .8rem;

    border-top: none;
    border-right: solid 1px var(--brown-2);
    border-left: solid 1px var(--brown-2);
    border-bottom: solid 1px var(--brown-2);

    background: var(--brown-5);
}

.inputBox label {
    font-weight: 700;
    color: var(--brown-1);
}

.inputBox input,
.inputBox select,
.inputBox textarea {
    width: 100%;
    margin-top: .4rem;
    padding: .8rem;

    border: solid .15rem var(--brown-4);
    border-radius: .4rem;

    color: var(--brown-0);

    background: white;
}

.inputBox input:focus,
.inputBox select:focus,
.inputBox textarea:focus {
    outline: solid .1rem var(--brown-2);
}

.inputBox textarea {
    resize: none;
}

form button {
    margin-top: 1.6rem;
    padding: 1.2rem;
    width: 100%;

    border-radius: .8rem;
    border: 0;

    background: var(--green-2);

    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
}

form button:hover {
    filter: brightness(1.1);
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: .8rem;

    max-width: 40.0rem;
    text-align: justify;
}

#text-description-site {
    margin-top: 2.4rem;
}

#my-contacts {
    margin: 2.4rem auto;
}
#my-contacts a:hover {
    filter: brightness(1.1);
}

@media (min-width: 640px) {
    .form-contact {
        display: flex;
        justify-content: space-between;
    }

    .contact-card {
        display: flex;
        flex-direction: column;
        gap: .8rem;

        max-width: 30.0rem;
    }

    #my-contacts img {
        width: auto;
        height: 35%;
    }
}

@media (min-width: 720px) {
    .contact-card {
        max-width: 35.0rem;
    }

    #my-contacts img {
        width: auto;
        height: 80%;
    }
}

@media (min-width: 900px) {
    .contact-card {
        max-width: 40.0rem;
    }
}

@media (min-width: 1024px) {
    .form-contact {
        gap: 12.8rem;
    }
}