* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  background: teal;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  border: 1px solid black;
}

.container div {
  height: 120px;
  width: 120px;
  padding: 24px;
  border: 4px dashed red;
  margin: 16px;
  color: white;
  font-size: 24px;
}

.square1 {
  background: teal;
  display: inline-block;
}

.square2 {
  background: steelblue;
}

.square3 {
  background: orange;
}
