h1, p{
    color: white;
}

span p {
    color: darkgreen !important;
}

.texto p {
    color: red;
}

.texto {
    color: peru;
    font-family: 'Roboto', serif;
}

#ultimoTexto .texto {
    color: azure;
}
