article {
    width: 32.0rem;
    border-radius: .8rem;
    padding: 1.6rem;

    color: white;
}

h2 {
    font-size: 3.2rem;
    line-height: 4.8rem;
}

section:nth-child(1) div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section:nth-child(1) span {
    color: gray;
}

.temperature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.8rem 0rem;
}

.temperature .thermometerIcon {
    font-size: 5.2rem;
}

.temperature p {
    font-size: 7.2rem;
}

.daysForecast {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dayForecast div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dayForecast h3 {
    text-align: center;
    text-transform: capitalize;
}

.windForecast {
    color: gray;
}