* {
  margin: 0;
}

.container {
  border: 2px solid black;
  padding: 8px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
}

.square {
  margin: 12px;
  height: 120px;
  width: 120px;
  color: white;
}

.square:nth-child(1) {
  background: teal;
  padding: 8px;
  order: 1;
}

.square:nth-child(2) {
  background: orange;
  padding: 16px;
  order: 2;
}

.square:nth-child(3) {
  background: steelblue;
  padding: 24px;
  order: 3;
}

.square:nth-child(4) {
  background: peru;
  padding: 8px;
}

.square:nth-child(5) {
  background: violet;
  padding: 16px;
}

.square:nth-child(6) {
  background: slategray;
  padding: 24px;
}
