@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&display=swap');

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.pages {
    height: 100%;
    display: grid;
    place-items: center;
}

.cardsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.6rem;
}

.card {
    width: 32.0rem;
    height: 46.0rem;

    border: .2rem solid black;
    margin-top: 2.8rem;
}

.header {
    background: #eee;
    padding: .8rem;
    height: 7.2rem;
    position: relative;
}

h1 {
    font-size: 4.2rem;
    letter-spacing: 3.5rem;
    font-family: 'Fragment Mono', monospace;

    position: absolute;
    left: 2.5rem;
}

.numbersContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: .8rem;

    height: 100%;
    padding: .8rem;
}

.number {
    height: 5.2rem;
    width: 5.2rem;

    border: .1rem solid #252525;
    border-radius: 50%;

    display: grid;
    place-items: center;

    cursor: pointer;

    font-size: 2.4rem;
    font-weight: 600;
    color: #252525;
    background: white;
}

.numbersCodContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    height: 83%;
}

.codContainer {
    position: relative;

}

.codContainer p {
    font-weight: bold;
    font-size: 1.2rem;
}