body {
  width: 720px;
  margin: auto;

  /* font-family: 'Times New Roman', Times, serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  /* background: lightgray; */
  /* background: linear-gradient(180deg, lightblue, lightgreen); */
  background-image: url("../images/image-background.jpg");
  background-image: url("../images/logo-rj.png");
  background-size: 120px;
  background-repeat: no-repeat;
  /* background-position: top right; */
  background-position: center;
  background-attachment: fixed;
  /* background-size: cover; */
  /* backdrop-filter: blur(5px) brightness(60%); */
}

.triangle {
  margin-top: 32px;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 150px solid orange;
}

h1 {
  color: orange;
  font-weight: 700;
  font-size: 24px;
  font-family: "Press Start 2P", cursive;
}

h2 {
  color: #e5db08;
  font-weight: 200;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  word-spacing: 4px;
  line-height: 24px;
}
