* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
}

img {
    display: inline;
    width: 480px;
}

main {
    height: 80vh;
    border: solid 1px black;
    padding: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

div {
    height: 140px;
    width: 140px;
    padding: 8px;
    
    border: solid 1px black;

    color: white;
    font-size: 64px;
    font-weight: 500;
}

.square1 {
    background: red;
    /* display: inline-block; */
}

.square2 {
    background: green;
    /* padding: 20px; */
}

.square3 {
    background: blue;
}